<div class="header">
<mat-toolbar class="header__top" mat-elevation-z6>
 <img src="https://store.playstation.com/static/lib/shared-nav/3.1.8/assets/fonts/sony_logo.svg" width="90">

</mat-toolbar>


<mat-toolbar class="header__sub-top">
    <div class="sub-top__logo">
      <img src="../assets/img/logo-ps.png" width="70">
    </div>
    <div class="sub-top__menu">
      <ul>
        <li>Jogos</li>
        <li>ps5</li>
        <li>ps4</li>
        <li>Serviços</li>
        <li>Acessórios</li>
        <li>Notícias</li>
        <li>Loja</li>
        <li>Suporte</li>
      </ul>
    </div>
    <div class="sub-top__session">Iniciar Sessão</div>
    <div class="sub-top-search">
      <input type="text" value="Pesquisar" style="height: 20px; padding: 5px; border: 1px solid #333">
    </div>
  </mat-toolbar>
    <mat-toolbar class="header__menu" mat-elevation-z2>
    <div class="logo">
      <img src="../assets/img/logo-ps.png" width="20">
      <span><strong>PlayStation</strong>.Store</span>
    </div>
    <div class="header__menu__default">
      <ul>
        <li>Novidades</li>
        <li>Coleções</li>
        <li>Oferta</li>
        <li>Assinaturas</li>
        <li>Navegar</li>
      </ul>
    </div>
</mat-toolbar>



