<div class="header">
  <div class="header__top"><img src="https://store.playstation.com/static/lib/shared-nav/3.1.8/assets/fonts/sony_logo.svg" width="90"></div>
  <div class="header__sub-top">
    <div class="sub-top__logo">
      <img src="../assets/img/logo-ps.png" width="70">
    </div>
    <div class="sub-top__menu">
      <ul>
        <li>Jogos</li>
        <li>ps5</li>
        <li>ps4</li>
        <li>Serviços</li>
        <li>Acessórios</li>
        <li>Notícias</li>
        <li>Loja</li>
        <li>Suporte</li>
      </ul>
    </div>
    <div class="sub-top__session">Iniciar Sessão</div>
    <div class="sub-top-search">
      <input type="text" value="Pesquisar" style="height: 20px; padding: 5px; border: 1px solid #333">
    </div>
  </div>
  <div class="header__menu">
    <div class="logo">
      <img src="../assets/img/logo-ps.png" width="20">
      <span><strong>PlayStation</strong>.Store</span>
    </div>
    <div class="header__menu__default">
      <ul>
        <li>Novidades</li>
        <li>Coleções</li>
        <li>Oferta</li>
        <li>Assinaturas</li>
        <li>Navegar</li>
      </ul>
    </div>
  </div>
</div>
<div class="home_container">
  <div class="home_container__slider">
    <div class="home_container__desconto">
      <img src="./../assets/img/desconto-slider.avif" alt="">
    </div>
  </div>
  <div class="home_container__promo">
    <div class="home_container__promo__left">
      <h3>
        Planeta dos Descontos
      </h3>
      <p>
        Grandes descontos. Diversão que não acaba mais. É hora de Grandes Jogos, Grandes Ofertas!
      </p>
    </div>
    <div class="home_container__promo__right">
      <button>Economize Já</button>
    </div>
  </div>
</div>
  <div class="grid-games">
    <div class="grid-games__box-game">
      <img src="./../assets/img/jogos/1f189d26-6651-4915-8881-d9480ca83ce4.avif" alt="" width="280" >
    </div>
    <div class="grid-games__box-game">
      <img src="./../assets/img/jogos/8a28b094-4d8b-4854-a841-e54d59c6fdb0.avif" alt="" width="280" >
    </div>
    <div class="grid-games__box-game">
      <img src="./../assets/img/jogos/954ceda1-c86c-42cc-bd63-28d8e294252e.avif" alt="" width="280" >
    </div>
    <div class="grid-games__box-game">
      <img src="./../assets/img/jogos/acd823c7-aedf-41a6-ab02-c159d6d94fa7.avif" alt="" width="280" >
    </div>
    <div class="grid-games__box-game">
      <img src="./../assets/img/jogos/c5e7e0d7-0e08-45d8-a273-dbfee9b1e259.avif" alt="" width="280" >
    </div>
    <div class="grid-games__box-game">
      <img src="./../assets/img/jogos/f86d9650-c513-477a-b149-a9eaee3169a4.avif" alt="" width="280" >
    </div>

  </div>


<div class="footer">
  <ul>
    <li>Jogos</li>
    <li>ps5</li>
    <li>ps4</li>
    <li>Serviços</li>
    <li>Acessórios</li>
    <li>Notícias</li>
    <li>Loja</li>
    <li>Suporte</li>
  </ul>
  <span>© 2024 Sony Interactive Entertainment Inc. Todos os direitos reservados.</span>

</div>



