
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pss-app-primary: mat.define-palette(mat.$indigo-palette);
$pss-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pss-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pss-app-theme: mat.define-light-theme((
  color: (
    primary: $pss-app-primary,
    accent: $pss-app-accent,
    warn: $pss-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pss-app-theme);

/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


body{
  font-family: Arial, Helvetica, sans-serif;
}



ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline;
  margin-right: 10px;
}


.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  min-height: 6rem;
  width: 100%;
  &__top{
    font-size: larger;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
    height: 40px;
    color: white;
  };
  &__sub-top{
    width: 100%;
    padding: 12px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba($color: #ffffffea, $alpha: 1.0);
  }
  &__menu{
    width: 100%;
    padding: 12px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba($color: #ffffffea, $alpha: 1.0);
    &__default{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

}

.sub-top{
  min-height: 2rem;
  width: 100%;
  border: 1px solif red;
  display: flex;
  flex-direction: row;
}

.home_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__slider{
    display: flex;
    height: 25rem;
    width: 100%;
    background-image: url(assets/img/2d2eabd1-864b-4218-8776-c522fd363eda.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  &__desconto{
    display: flex;
    justify-content: center;
  }
  &__promo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
    width: 100%;
    margin-bottom: 80px;
    border-bottom:40px solid rgba($color: #444444ea, $alpha: 0.4) ;
    &__left{
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;

      height: 100px;
      width: 100%;
      margin-bottom: 20px;

    }
    &__right{
      padding-right: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      height: 100px;
      width: 100%;
      margin-bottom: 20px;
    }

  }

}


.grid-games{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  flex-wrap: wrap;
  margin: 20px;
  &__box-game{
    min-height: 350px;
    min-width: 280px;

  }

}

.footer{
  min-height: 500px;
  // position: relative;
  bottom: 0;
  background-color: #0062b3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding:20px auto;
}

.footer > span{
  padding: 20px;
  font-weight: 400;
  font-size: 1.1rem;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
